:root{
  --my-color-1: #0E3E3E;
  --my-color-2: #3D8D7A;
  --my-color-3: #B3D8A8;
  --my-color-4: #FBFFE4;
  --my-color-5: #A3D1C6;
  --my-color-bk: #333;
  --my-color-wh: #eee;
}

.header{
  background-color: var(--my-color-3);
}
.logo_title{
  font-weight: bold;
  color: var(--my-color-wh);
}
.btn{
  border: none;
  border-radius: .25rem;
  background-color: var(--my-color-2);
  color: var(--my-color-bk);
}