html{
  font-size: 20px;
}

a {
  font-weight: 500;
  color: #000;
  text-decoration: inherit;
}

ul, li{
  list-style: none;
  padding: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.mx-auto{
  margin: 0 auto;
}
.column{
  flex-direction: column;
}
.mw-100{
  max-width: 100px;
}
.mw-150{
  max-width: 150px;
}
.mw-200{
  max-width: 200px;
}
.mw-250{
  max-width: 250px;
}
.mw-300{
  max-width: 300px;
}
.text-center{
  text-align: center;
}