html{
  font-size: 20px;
}

a {
  font-weight: 500;
  color: #000;
  text-decoration: inherit;
}

ul, li{
  list-style: none;
  padding: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
